<div class="icon-container">
	<a href="/edit?entryId=<%= entry.id %>" class="icon">
		<img src="/images/edit.svg" alt="Edit icon" />
	</a>
	<a href="/delete?entryId=<%= entry.id %>" class="icon">
		<img src="/images/delete.svg" alt="Delete icon" />
	</a>
</div>
