<%- include('../partials/header') %>
<body>
	<h1>Dashboard</h1>
	<h1>Hello, <%= username %></h1>
	<ul>
		<li>
			<h3>Entry 1 title</h3>
			<p>Entry 1 date</p>
		</li>
		<li>
			<h3>Entry 2 title</h3>
			<p>Entry 2 date</p>
		</li>
	</ul>
	<a href="/create">+ Add Entry</a>
</body>
