<%- include('../partials/header') %>
<body>
	<header>
		<h1>Delete Entry</h1>
	</header>
	<div class="delete-h1">
		<h1>Are you sure you want to delete this entry "Diary Title"?</h1>
	</div>
	<div class="delete-buttons"> 
		<form action="/delete" method="POST">
			<button type="submit" class="button-noback">Yes</button>
		</form>
		<button class="button">
			<a href="/dashboard">No</a>
		</button>
	</div>
</body>
