<%- include('../partials/header') %>
<body>
	<header>
		<h1>Edit Entry</h1>
	</header>
	<form action="/edit" method="POST">
		<input type="hidden" name="entryId" value="<%= entryId %>" />
		<input
			type="text"
			name="entry_title"
			value="<%= entryTitle %>"
			required
		/>
		<div class="form-group">
			<label class="content">Content</label>
			<textarea name="entry_content"><%= entryContent %></textarea>
		</div>
	</form>
	<button class="button">
		<a href="/dashboard">Cancel</a>
	</button>
	<button type="submit">Save Entry</button>
</body>
