<%- include('../partials/header') %>
	<body>
		<h1>Log In or Register to write in your diary!</h1>
		<a class="button" href="/login" role="button">Login</a>
		<a class="button" href="/register" role="button">Register</a>
	</body>
</html>
