<%- include('../partials/header') %>
	<body>
		<div class="start-container">
			<h1>Log in or Register to write in your diary!</h1>
			<div class="home-buttons">
			<a class="button" href="/login" role="button">Login</a>
			<a class="button" href="/register" role="button">Register</a>
			</div>
		</div>
	</body>
</html>
