<%- include('../partials/header') %>
	<body>
		<h1>Log in to your diary!</h1>
		<form action="/login" method="POST">
			<label for="username_id">Username</label>
			<input
				type="text"
				id="username_id"
				name="user_username"
				placeholder="Enter your username"
				required
			/>

			<label for="password_id">Password</label>
			<input type="password" id="password_id" name="user_password" placeholder="Enter your password" required>
			<button type="submit" class="button">Login</button>
		</form>
	</body>
</html>
