<%- include('../partials/header') %> <%- include('../partials/editIcons', {
entry: entry }) %>

<body>
	<h1><%= entryTitle %></h1>
	<div class="diary-content">
		<p><%= entryContent %></p>
	</div>
	<button class="button">
		<a href="/dashboard">Back to Dashboard</a>
	</button>
</body>
