<body>
	<header>
		<h1><%= entryTitle %></h1>
	</header>
	<%- include('../partials/header') %> <%- include('../partials/editIcons', {
	entry: entry }) %>
	<div class="diary-content">
		<p><%= entryContent %></p>
	</div>
	<button class="button">
		<a href="/dashboard">Back to Dashboard</a>
	</button>
</body>
