html {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 1em 10em;
	display: flex;
	justify-content: center;
}

/*Button styles*/
.button {
	background-color: wheat;
	color: black;
	border: none;
	padding: 1em 2em;
	border-radius: 1em;
	text-align: center;
	font-weight: bold;
	max-height: fit-content;
}

.button:hover {
	background-color: cornsilk;
	box-shadow: inset 0px 0px 0px 3px tan;
	cursor: pointer;
}

.button:active {
	background-color: tan;
}

.button-noback {
	color: black;
	background-color: white;
	padding: 0.85em 2em;
	border-radius: 1em;
	text-align: center;
	font-weight: bold;
	max-height: fit-content;
	border: 3px solid rgba(0, 0, 0, 0.5);
}

.button-noback:hover {
	background-color: cornsilk;
}

.diary-content {
	border: 2px solid black;
	padding: 1em;
	border-radius: 8px;
	margin-top: 20px;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

/*Input Forms*/
.start-container {
	background-color: mediumpurple;
	color: white;
	border-radius: 1em;
	padding: 3em;
	margin-top: 5em;
	text-align: center;
}

.home-buttons,
.delete-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}

.form-group {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group input,
textarea {
	border-radius: 1em;
	padding: 1em;
	border-color: blueviolet;
	margin-bottom: 1em;
}

.form-group label {
	margin-bottom: 0.2em;
	font-weight: bold;
}

/*Header*/
header {
	background-color: mediumpurple;
	color: white;
	border-radius: 1em;
	padding: 1em 2em;
	margin-top: 5em;
	margin-bottom: 1em;
	text-align: center;
	min-width: 60vw;
}

/*Dashboard*/
.dashboard-intro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.dashboard ul {
	padding-left: 0;
}

.dashboard li {
	list-style-type: none;
	/* background-color: lightgray; */
	padding: 0.5em 1em;
	border: 1.5px solid blueviolet;
	margin-bottom: 0.5em;
	border-radius: 0.5em;
}

.dashboard li:hover {
	background-color: lavender;
	cursor: pointer;
}

.dashboard li:active {
	background-color: #cbc3e3;
}

.dashboard h2 {
	margin: 0;
}

.dashboard p {
	margin: 0;
}

.dashboard-btn-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.icon:hover {
	background-color: plum;
	border-radius: 0.5em;
}

.icon img {
	width: 30px;
	height: 30px;
	display: block;
}

.delete-h1 {
	text-align: center;
}

.icon-container {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.delete-buttons,
.edit-buttons {
	display: flex;
	gap: 10px;
	top: -20px;
	justify-content: center;
}

.action-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
